body{
    font-family: 'Montserrat', sans-serif;
    background-color: #dee2e6;
}

header {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.85)), url(images/banner.jpeg) no-repeat center center /cover;
}

.nav-menu{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5));
    padding: 30px;
    /*height: 20%; */
    transition: all .7s;
}

.menu-item{
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
}

.menu-item:hover{
    color: #70aed2;
}

.nav-active {
    color: #70aed2;
}

.line1, .line2, .line3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.change .line2{
    opacity: 0;
}

.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.custom-navbar{
    padding: 5px 30px;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7));
}

/* end of navbar*/

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


.banner-photo {
    animation-name: anim;
    animation-duration: 4s;
}

.banner-heading {
    animation-name: anim;
    animation-duration: 4s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
}

.banner-par{
    animation-name: anim;
    animation-duration: 4s;
    animation-delay: .6s;
    animation-fill-mode: backwards;
}

@keyframes anim{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.avatar{
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.avatar{
  transition: transform .5s ease;
}

.box:hover{
  transform: scale(1.1);
}

.box {

  height: 170px;
  width: 170px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  transition: transform .5s ease;
  margin: auto;
  overflow: hidden;
  background: url("https://images.pexels.com/photos/2798881/pexels-photo-2798881.jpeg?cs=srgb&dl=pexels-anni-roenkae-2798881.jpg&fm=jpg");

}


  .btnSN{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    transition: transform .5s ease;
  }

  .btnSN:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.1);
  }

  .button-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateY(-30px);
  }

  .divider{
    width:20px;
    height:auto;
    display:inline-block;
}

.scSymbol{
  margin-top: 15px;
}






/* end of banner*/

/* About */
.column{
  padding: 0 10px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
}

.underline{
    width: 150px;
    border: 3px solid #6c757d;
    margin: auto;
}

.columnTitle{
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.category {
  text-align: left;
}



/* end of about*/

/* skills */


.skill-bars{
  padding: 25px 30px;
  width: 100%;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #70aed2;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.htmlcss span{
  width: 90%;
}
.bar .progress-line.java span{
  width: 80%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}

.bar .progress-line.php span{
  width: 45%;
}

.bar .progress-line.c span{
  width: 70%;
}

.bar .progress-line.javaScriptAngular span{
  width: 70%;
}

.bar .progress-line.javaScriptReact span{
  width: 40%;
}

.bar .progress-line.sql span{
  width: 70%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.htmlcss span::after{
  content: "90%";
}

.progress-line.java span::after{
  content: "80%";
}

.progress-line.javaScriptAngular span::after{
  content: "70%";
}

.progress-line.javaScriptReact span::after{
  content: "40%";
}

.progress-line.c span::after{
  content: "70%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.sql span::after{
  content: "70%";
}

.progress-line.php span::after{
  content: "45%";
}
